@model FacultyMember

<form asp-action="CreateFacultyMember" method="post" class="container mt-4">
    <div class="border p-3">
        <div class="row pb-2">
            <h2 class="text-primary col-12">Create Faculty Member</h2>
            <hr class="col-12" />
            <div asp-validation-summary="All" class="col-12"></div>
        </div>

        <!-- First Name -->
        <div class="form-group row">
            <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="FirstName" type="text" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group row">
            <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="LastName" type="text" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <!-- Email -->
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <!-- Phone -->
        <div class="form-group row">
            <label asp-for="Phone" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <input asp-for="Phone" type="text" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        <!-- Address -->
     

        <!-- Department -->
        <div class="form-group row">
            <label asp-for="DepartmentHead" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <select asp-for="DepartmentHead" asp-items="@(new SelectList(ViewBag.Departments, "DepartmentId", "DepartmentName"))" class="form-control">
                    <option value="">Select a Department</option>
                </select>
                <span asp-validation-for="DepartmentHead" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Faculty" asp-action="Index" class="btn btn-outline-secondary form-control border">Back to list</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
